@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@styles/colors.css';
@import '@styles/reset.css';

root {
  --background: var(--c-white-01);
  --foreground: var(--c-dark-blue);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--c-dark-blue);
    --foreground: var(--c-white-01);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
